// Cores de tipografia
.type-color-1 {
    color: $type-color-1 !important;
}
.type-color-2 {
    color: $type-color-2 !important;
}

// Cores de alerta
.success-color {
    color: $success-color !important;
}

.alert-color {
    color: $alert-color !important;
}

.danger-color {
    color: $danger-color !important;
}

.info-color {
    color: $info-color !important;
}

// Cores principais
.base-color {
    color: $base-color !important;
}

.support-color {
    color: $success-color !important;
}