// Cores da Tipografia
$type-color-1: #434036;
$type-color-2: #878681;

// Cores Principais
$base-color: #c2b37e;
$accent-color: #486173;

// Variações
$variation-1: #f4f2ea;
$variation-2: #948860;
$variation-3: #ece4c9;
$variation-4: #b0a787;

// Cores de Suporte
$support-color-1: #b1b1b1;
$support-color-2: #e1e1e1;
$support-color-3: #f1f1f1;
$white-color: white;

// Sistem Color
$success-color: green;
$alert-color: orange;
$danger-color: red;
$info-color: lightblue;
