// Media queries
$bp-1: 425px;
$bp-2: 768px;
$bp-3: 1024px;

// Border Size
$border-size-1: 1px;
$border-size-2: 2px;

// Box Shadow
$shadow-1: 0 2px 5px #333;
$shadow-2: 0 5px 10px #333;

// Border Radius
$round-raio-1: 5;
$round-raio-2: 10;

// tamanho da fonte padrão do HTML
$context: 16;