// Fontes
$typeface-1: 'Playfair Display', serif;
$typeface-2: 'Lato', sans-serif;
$typeface-3: 'Playfair Display SC', serif;

//Escala Título
$size-title-1: 64;
$size-title-2: 36;
$size-title-3: 24;
$size-title-4: 18;
$size-title-5: 14;
$size-title-6: 12;

// Escala texto
$size-text-1: 22;
$size-text-2: 18;
$size-text-3: 14;

// Line-height
$text-lh: 1.6;
$title-lh: 1;
